body{
	background-color: #00927F;
}
th{
	min-width: 70px;
}
table{
	background-color: grey;
	width: 100%;
}
#bookForm{
	display: none;
	color: white;
}
#showFormButton{
	border: 1px solid grey;
	width: 100px;
	text-align: center;
	background-color: white;
}
#showFormButton:hover{
	background-color: yellow;
}
#table-header{
	background-color: #F6F6F6;
}
