body{
	background-color: #00927F;
}
th{
	min-width: 70px;
}
[id^=score]{
	text-align: center;
}
table{
	background-color: #9EA8AD;
	width: 100%;
}
#bookForm{
	display: none;
	color: white;
}
#showFormButton{
	border: 1px solid grey;
	width: 100px;
	text-align: center;
	background-color: white;
}
#showFormButton:hover{
	background-color: yellow;
}
#table-header{
	background-color: #F6F6F6;
}
#displayTitle,#displayAuthor{
	color: green;
	font-weight: bold;
}
a:visited{
	color: blue;
}
#editForm{
	min-width: 500px;
	width: 50%;
	margin-left: 10%;
}
#template{
	width: 50%;height:20vw;
	padding-top:30px;margin-left:25%;
	background-color: white;
	display: none;
	border-radius: 15px;
}